* {
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
body{  
    line-height: 1.625;
    letter-spacing: .5px;
    text-transform: capitalize;
    background-color: #cfc9c930;
    padding: 10px 10px;
    margin: auto;
    box-sizing: inherit; 
    overflow-x : hidden;
}
.right-side-body{
    margin: 0px 0px 0px 5px;
    font-family: 'Roboto',sans-serif;
}
.container{
    font-family: 'Roboto',sans-serif;
    text-transform: capitalize;
    background-color: #ffffff;
    width: 200%;
    position: relative;
    margin: 10px 0px;
    box-sizing: inherit;
}
a.active,a.hover{
    background: #1b9bff;
    transition: 2s;
}
.checkbtn1{
    font-size: 30px;
    color: black;
    float: left;
    margin-left: 20px;
    line-height: 80px;
    cursor: pointer;
    display: block;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check{
    display: none;
}
.navi{
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
    font-size: 22px;
    float: right;
    list-style: none;
}
.navi li{
    display: inline-flex;
    background-color: #ffffff;
} 
.navi li a{
    display: none;                                                                                      
    color: black;
    text-decoration: none;
}
.navi li a:hover{
    color: #fff;
    background-color:#2196f3;
    transition: 0.5s;
}     
.header{
    margin-bottom: 25px;
}                                 
.head-wrapper{
    background-color: #ffffff;
}
.head {
    margin: 80px 0px;
}
.head h2{
    margin-top: -25px;
    padding-top: 25px;
    font-size: 40px;
    font-weight: 700;
}
.head h1{
    font-weight: 100;
    margin-top: -15px;
    font-size: 18px;
}
.head p{
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
}
.cta {
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 15px 55px;
    margin: 0px 0px 0px 110px;
    display: inline-block;
    background-color: #2196f3;
    text-transform: capitalize;
    text-decoration: none;
}
.header-images{
    display: block;
    max-width: 300px;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
}
.header-wrapper{
    display: flex;
    padding: 25px 0px;
    margin-top: 50px;
    margin-bottom: 9px;
}
.icon-wrappers{
    color:#2196f3;
    padding-right: 15px;
    padding-left: 5px;
    font-size: 23px;
}
.header-wrapper h2{
    font-size: 24px;
}
.about-section p{
    display: block;
    padding: 0px 15px;
    font-size: 16px;
    margin: 10px;
}
.tittle{
    width: 30%;
    float: left;
}
.aboutp{
    font-size: 20px;
}
.type-wrapper{                                                                                                                                       
    display: block;
    margin-left: -10px;
}
.card-type-wrapper{
    display: inline-block;
    margin-top: 30px;
}
.card-type-wrapper h1{
    width: 100%;
    display: table;
    font-weight: 100;
}
.type-1{  
    max-width:200px;
    margin: 20px 20px;
    padding: 30px 20px;
    position: relative;
    border-bottom: solid 2px #2196f3;
}
.type-2{
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #ef5350;
    background-color: #f5eded8f;
}
.type-3 {
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #fbc02d;
    background-color: #f5eded8f;
}
.type-4 {
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #ab47bc;
    background-color: #f5eded8f;
}
.type-1 h1:hover{
    color: #fff;
    background: #1b9bff;
    transition: 2s;
    padding: 25px 15px;
}
.icon-wrapper-1{
    font-size: 40px;
    padding-bottom: 45px;
    color: #2196f3;
}
.icon-wrapper-2{
    color: #ef5350;
    font-size: 40px;
    padding-bottom: 45px;
}
.icon-wrapper-3{
    color: #fbc02d;
    font-size: 40px;
    padding-bottom: 45px;
}
.icon-wrapper-4{
    color: #ab47bc;
    font-size: 40px;
    padding-bottom: 45px;
}
.personal-details{
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 20px;
}
.personal-details h2{
    padding: 20px 20px;
}
.personal-details td{
    padding: 5px 7px;
}
.tables{
    margin: 0px 15px;
}
.table {
    margin: 20px;
}
.mailto1 a{
    text-decoration: none;
    line-height: 1;
    color: black;
}
.sections{
    background-color: #2196f3;
    padding: 40px 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 20px 60px 0px 102px;
}
.section p{
    font-size: 16px;
    font-weight: 600;
}
.button{
    cursor: pointer;
    background-color:#ffffff;
    padding: 10px 0px;
    margin: 7px 0px;  
    color: black;
    font-size: 25px;
    text-decoration: none;
}
.skill{
    margin: 10px 0px;
}
.skill h1{
    font-size: 24px;
    font-weight: 700;
}
.skill p{
    margin: 0px 28px;
}
.icofont-tags{
   color: black;
   font-size: 31px; 
}
.skill ul{
    display: flex;
    padding: 10px 10px;
    text-align: center;
}
.ul{
    display:inline-flex;
    margin-left: 20px;
}
.icons-wrappers{
   display: none;
}
.skill-ul-li{
    width: 80%;
}

.skill li{
    list-style: none;
}
.skill li a{
    width: 30px;
    height: 53px;
    font-size: 17px;
    color: #111111;
    text-align: left;
    text-decoration: none;
    line-height: 53px;
    padding-right: 30px;
}
.graphicdesign{
    background-color: #ffffff;
    display: inline-block;
    margin: 30px 0px 30px 0px;
}
.title{ 
    padding: 30px 40px;
    display: inline-block;
}
.skill-progress{
    margin: 0px 60px;
    display: inline-block;
}
.single-experties{
 
    display: table;
    margin-bottom: 25px;
}
.progress{
    width: 320px;
    height: 5px;
    border-radius: 0;
    margin-top: 10px;
    overflow: visible;
    background-color: #f0f0f0;
}  
.progress-bar {
    height: 5px;
    position: relative;
}
.photoshop-bg {
    background-color: #2196f3;
    margin-right: 150px;
}
.html5-bg {
    background-color: #3f51b5;
    margin-right: 30px;
}
.css3-bg {
    background-color: #fbc02d;
    margin-right: 65px;
}
.js-bg {
    background-color: #fb2d2d;
    margin-right: 140px;
}
.progress-bar > span{
    right: -4%;
    bottom: 10px;
    font-weight: 700;
    position: absolute;
}
.photoshop-color {
    color: #2196f3;
    float: right;
    margin-top: -26px;
    margin-right: 150px;
    font-weight: 600;
}
.js-color{
    color: #ef5350;
    float: right;
    font-size: 20px;
    margin-top: -31px;
    margin-right: 140px;
    font-weight: 600;
}
.html-color{
    color: #3f51b5;
    float: right;
    margin-right: 30px;
    font-weight: 600;
}
.css3-color{
    color: #fbc02d;
    float: right;
    margin-top: -26px;
    margin-right: 70px;
    font-weight: 600;
}
.language-skill{
    margin: 34px 40px;
    padding-bottom: 50px;
}
.lang{
    font-size: 24px;
}
.lang h2{
    padding-left: 15px;
    margin-bottom: 15px;   
}
.languages{
    display: inline;
}
.strongs1{
    margin: 45px 0 0 -90px;
    position: absolute;
    font-size: 20px;
}
.strongs2{
    margin: 45px 0 0 -105px;
    position: absolute;
    font-size: 20px;
}
.strongs3{
    margin: 45px 0 0 -96px;
    position: absolute;
    font-size: 20px;
}
.circles{
    margin-left: 10px;
}
.first-circle{
    margin-top: 20px;
    margin-right: 20px;
} 
.comman-color{
    color: blue;
    padding-left: 27px;
}
.education-skill p{
    padding-left: 15px;
}
.icons1{
    
    margin-left: 48px;
}
.icons4{
    margin-left: 10px;
}
.icons5{
    margin-left: 17px;
}
.icon1,
.icons1{
    color: #2196f3;
}
.icon4,
.icons4{
    color: #fbc02d;
}
.icon5,
.icons5{
    color: #ab47bc;
}
.active{
    list-style: none;
}
.according-header-1 a,
.according-header-4 a,
.according-header-5 a{  
    text-decoration: none;
}
.according-header-1,
.according-header-4,
.according-header-5{
    color: black;
    padding: 15px 20px;
    display: flex;
}
.strong{
    color: black;
}
.images{
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}
.image-wrapper{
    text-align: center;
}
.image-wrapper img:hover{
    transform: scale(1.1); 
    z-index: 0;
    transition: all .2s;
}
.header-image{
    max-width: 289px;
}
.header-image li{
    text-decoration: none;
}
.image-wrapper a{
    display: none;
    padding: 5px 12px;
    top: -25px;
    background-color: #2196f3;
    position: relative;
    left: -33px;
    text-decoration: none;
    color: black;
}
.image-wrapper a:hover{
    display: inline;
    transform: scale(1.1); 
    z-index: 0;
    transition: all .2s;
}
.buttons{
    text-align: center;
    margin-top: 47px;
    margin-bottom: 30px;
}
.submitfors{
    width: 230px;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    background-color: #2196f3;
}
.slider{
    overflow: hidden;
}
.slider figure div{
    float: left;
    width: 20%;
}
.slider figure img{
    width: 100%;
    float: left;

}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: 40s prem infinite;

}
@keyframes prem{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    94%{
        left: -100%; 
    }
    96%{
        left: -100%;
    }
}

.testomono{
    margin: 50px;
}
.testomonial-image h2{
    font-size: 20px;
    margin: 90px 65px 57px 2px;
}
.testomonial-image p{
    margin-left: 3px;
}
.testomonial p{
    margin: 10px 0px 50px 0px ;
}
.testomonials-image{
    max-width: 150px;
}
.collis{
    display: inline-flex;
    margin-right: 0px;  box-shadow: 6px 6px 12px 6px #7d797945;
    background-color: #ffffff;
}
.collish2{
    margin-left: 10px;
}
.collisp{
    margin-bottom: 25px;
}
.ceo{
    font-weight: 100;
    color: #2196f3;
    font-size: 15px;
}
.common-color{
    cursor: pointer;
    color:  #2196f3;
    margin-left: 10px;
    margin-bottom: 50px;
}
.testomonials-images{
    width: 100%;
    opacity: .30;
    display: block;
    padding: 20px 0px;
    padding-left: 10px;
    line-height: 120px;
    text-align: center;
}
.overlay{
    cursor: pointer;
}
.overlay a{
    padding: 0px 20px;
}
.overlay li{
    text-decoration: none;
    display: inline-flex;
    padding-right: 30px;
    text-align: center;
    border-right: 2px solid #cccccc;
}
.overlay li img:hover{
    transform: scale(1.1); 
    z-index: 0;
    transition: all .4s;
}
.contact-me{
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 60px;
}
.phones a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.email12 a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.contact-me p{
    font-size: 14px;
}
.phones{
    background-color: #fff5f545;
    max-width: 500px;
    padding: 35px 27px;
    margin: 15px 15px;
    box-shadow: 6px 6px 12px 6px #7d797945;
}
.phones h2,
.email h2,
.address h2{
    font-size: 22px;
    margin: 15px 0px;
    line-height: 30px;
}
.phones tr{ 
    margin: 10px 10px;
}
.email{
    background-color: #fff5f545;
    max-width: 500px;
    padding: 35px 30px;
    margin: 30px 15px;
    box-shadow: 6px 6px 12px 6px #7d797945;
}
.email p{
    padding: 0px 5px;
    margin: 10px -7px;
}
.address{
    background-color: #fff5f545;
    max-width: 500px;
    padding: 35px 30px;
    margin: 15px 15px;
    box-shadow: 6px 6px 12px 6px #7d797945;
}
.address p{
    font-size: 24px;
    padding: 0px 5px;
    margin: 10px -7px;
}
.address a{
    color: #2196f3;;
}
.phone-2{
    padding: 0 20px;
}

.contact-form{
    background-color: #2196f3;
    border-radius: 10px;
    max-width: 380px;
    padding: 40px;
    margin: 0 0 0px 20px;
}
.contact-form h1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 30px;
}
.input-field{
    flex-direction: column;
}
.input-field,
.message{
    width: 103%;
}
.style{
    margin: 0px;
    width: 380px;
    height: 100px;
}
.input-field .input, 
.message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
}
.message.testarea{
    height: 212px;
}
textarea{
    min-height: 126px;
    display: block;
}
.lable1{
    color: gainsboro;
}
.submitform{
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}
.form{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.footers{
    padding: 20px 30px;
}
.footers p{
    font-size: 16px;
}
.photoshop{
    color:  #2196f3;
    text-decoration: none;
}
.scroll{
   display: inline-block;
   background: #2196f3;
   color: #fff;
   width: 50px;
   height: 57px;
   line-height: 57px;
   text-decoration: none;
   text-align: center;
}
.iconss-wrappers:hover{
    color: #fff;
}
.backtotop{
    top: 0;
    position: absolute;
    right: 0px;
    z-index:55px;
    /*margin: -83px 0 0 0*/
} 