@media(min-width:320px){
    .container{
        width: 440px;
        margin: -60px 0 90px -11px;
    }
    .head h2{
        text-align: center;
        font-size: 50px;
    }
    .head h1{
        text-align: center;
        font-size: 26px;
    }
    .head p{
        text-align: center;
    }
    .cta{
        margin: 0 0 0 105px;
    }
    .header-images{
        display: none;
    }
    .header-wrapper h2 {
        font-size: 33px;
    }
    .type-1{
        max-width: 340px;
        background-color: #fafafd;
        box-shadow: 0px 0px 56px 0px #7d797954;
    }
    .type-2{
        max-width: 340px;
        background-color: #fafafd;
        box-shadow: 0px 0px 56px 0px #7d797954;
    }
    .type-3{
        max-width: 340px;
        background-color: #fafafd;
        box-shadow: 0px 0px 56px 0px #7d797954;
    }
    .type-4{
        max-width: 340px;
        background-color: #fafafd;
        box-shadow: 0px 0px 56px 0px #7d797954;
    }
    .card-type-wrapper h1{
        font-size: 20px;
    }
    .personal-details{
        line-height: 30px;
        font-size: 18px;
    }
    .sections{
        padding: 20px;
        margin: 10px 10px 10px 10px;
        font-size: 22px;
    }
    .button{
        padding: 14px 0;
        margin: 7px 59px;
    }
    .icon-wrappers{
        font-size: 33px;
    }
    .skill h1{
        font-size: 30px;
    }
    .skill p {
        margin: 0px 28px;
        font-size: 18px;
    }
    .skill li a{
        font-size: 16px;
    }
    .title{
        font-size: 20px;
    }
    .graphicdesign{
        box-shadow: 0px 10px 10px 0px #7d797954;
    }
    .skilled-tittle{
        font-size: 20px;
    }
    .photoshop-color,
    .jquery-color,
    .php-color,
    .html-color,
    .css3-color,
    .marketing-color{
        font-size: 20px;
        margin-top: -33px;
    }
   .lang h2{
       font-size: 16px;
   }
   .circles{
    display: block;
    margin: 10px 10px 10px -30px;
   }
   .circled{
    width: 163px;
    text-align: center;
    margin: 10px 10px 10px 18px;
   }
   .circle123{
       display: flex;
   }
   .strongs1{
    margin: 75px 0 0 -125px;
   }
   .strongs2{
    margin: 75px 0 0 -140px;
   }
   .strongs3{
    margin: 75px 0 0 -125px;
   }
   .education-skill p{
       font-size: 20px;
   }
   .header-image{
    max-width: 363px;
    margin: 0px 0 0 -45px;
   }
   .testomonials-image{
    max-width: 398px;
   }
   .testomonial-image h2 {
    font-size: 26px;
    margin: 90px 65px 57px 2px;
}
.ceo{
    font-size: 16px;
}
.testomonial-image p {
    margin-left: 3px;
    font-size: 20px;
}
.common-color{
    font-size: 20px;
    margin-bottom: 50px;
}
.testomonial-images{
    width: 306px
}
.contact-me p {
    font-size: 17px;
}
.phone {
    max-width: 330px;
}
.style {
    margin: 0px;
    width: 190px;
    height: 93px;
}
.footers {
    padding: 80px 30px;
}
.iconss-wrappers{
    margin: -104px -66px 0 0px;
    font-size: 38px;
    
}
}
@media(min-width:480px){
    .container{
        width: 500px;
        margin-right: 40px;
    }
    .custom-btn {
        margin-left: 0px;
        display: block;
    }
    .headers h2 {
        font-size: 10px;
    }
    .headers p {
        font-size: 8px;
    }
    .head h2{
        font-size: 60px;
    }
    .head h1{
        font-size: 32px;
    }
    .cta2{
        display: none;
    }
    .icofont-tags {
        color: black;
        padding-left: 40px;
    }  
    .icons-wrappers{
        display: block;
        margin-top: 25px;
        margin-left: -15px;
    }
    .graphic-1{
        display: block;
        margin-left: 90px;
        margin-right: 40px;
    }
    .header-images{
        display: block;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 500px;
        padding: 30px 30px 30px 30px;
        margin-left: 46px;
    }
    .personal-details{
        margin-left: 100px;
    }
    .circles{
        display: block;
        margin: 10px 10px 10px 10px;
       }
       .circled{
        width: 163px;
        text-align: center;
        margin: 10px 10px 10px 18px;
       }
       .circle123{
           display: flex;
       }
       .strongs1{
        margin: 75px 0 0 -125px;
       }
       .strongs2{
        margin: 75px 0 0 -140px;
       }
       .strongs3{
        margin: 75px 0 0 -125px;
       }
    .testomonial-images{
        padding-left: 38px;
    }
    .iconss-wrappers{
        display: inline-block;
        margin: -104px -66px 0 0px;
        font-size: 38px;
        
    }
    textarea{
        width: 50px;
    }
    .phone-2{
        margin-left: 10px;
        width: 500px;
    }
    .footer-section{
        margin: 0px 0px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 0px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:768px){
    .container{
        width: 768px;
        margin-right: 40px;
    }
    .navi12{
        display: inline;
    }
    .navi li a{
        font-size: 19px;
        margin: auto;
        padding: 21px;
        display: inline-block;
    }
    .custom-btn{
        margin-left: 0px;
        display: block;
        
    }
    .headers h2 {
        font-size: 15px;
    }
    .headers p {
        font-size: 12px;
    }
    .head h2{
        font-size: 60px;  
    }  
    .head h1{
        font-size: 34px;
    }
    .head p{
        font-size: 18px;
    }.bodyimages
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 20px;
    }
    .graphicdesign{
        width: 587px;
        display: inline-block;
    }
    .skill ul {
        margin-left: 10px;
        text-align: center;
    }
    .skill ul {
        display: flex;
    }
    .skill-progress {
        display: flex;
        margin-left: -60px;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 100px;
    }
    .skill h1{
        font-size: 20px;
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: 150px;
    }
    .icons-wrappers{
        display: block;
        margin-top: 25px;
        margin-left: -15px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: -104px;
    } 
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .icons1{
        color: #2196f3;
        margin-left: 48px;
    }
    .icons2{
        color: #26a69a;
        margin-left: 53px;
    }
    .icons3{
        color: #ef5350;
        margin-left: 305px;
    }
    .icons4{
        color: #fbc02d;
        margin-left: 142px;
    }
    .icons5{
        color: #ab47bc;
        margin-left: 222px;
    }
    .sliders12{
        display: flex;
    }
    .circles{
        display: flex;
        margin: 10px 10px 10px 100px;
       }
    .collis {
        margin: 0 -20px 0 -72px;
    }
    .testomonials-image{
        max-width: 306px;
        margin: 0 0 0 62px;
}
.testomonial-images {
    width: 162px;
}
    .header-image {
        max-width: 330px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: inline-block;
    }
    .phone-2{
        margin-right: 10px;
        width: 500px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
    .iconss-wrappers{
        display: inline-block;
        margin: 21px -25px 0 0px;
        font-size: 38px;
    }
    .footers {
        padding: 16px 30px;
    }
}
@media(min-width:927px){ 
    .container{
        width: 1080px;
        margin-right: 0px;
    }
    .navi-wrapper{
        float: right;
    }

    .navi12{
        display: inline;
    }
    .navi li a{
        font-size: 19px;
        margin: auto;
        padding: 9px;
        display: inline-block;
    }
    .custom-btn{
            margin-left: 0px;
            display: block;
            margin: 0 50px; 
    }
    .head-wrapper{
        padding: 50px;
    }
    .headers h2 {
        font-size: 20px;
    }
    .headers p {
        font-size: 18px;
    }
    .head h2{
        font-size: 60px;
        font-weight: 700;
    }
    .head h1{                                                                  
        font-size: 40px;
    }
    .head p{
        font-size: 18px;
    }
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .graphicdesign{
        width: 800px;
        display: inline-block;
    }
    .skill ul {
        margin-left: 10px;
        text-align: center;
    }
    .skill ul {
        display: flex;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 120px;
    }
    .skill h1{
        font-size: 40px;
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: 200px;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: 0px;
    } 
    .collis {
        margin: 0 -20px 0 -72px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: flex;
    }
    .sections{
        margin: 24px 0px 0px 90px;
    }
    .button a {
        padding: 0px 25px;
    }
    .phone-2{
        flex-direction: column;
        margin-left: 100px;
        width: 500px;
    }
    .message textarea{
        height: 80px;
    }
    .input-field,
    .message{
        width: 100%;
    }
    .footer-section{
        margin: 0px 0px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:1200px){
    .right-side-body{
        margin: 130px 60px;
    }       
    .container{
        width: 1300px;
    }
    .navi-wrapper{
        float: right;
    }

    .navi12{
        display: inline;
    }
    .navi li a{
      
        margin: auto;
        padding: 9px;
        display: inline-block;
    }
    .custom-btn{
        margin: 0px 50px; 
        display: block;
    }
    .head-wrapper{
        padding: 100px;
    }
    .headers h2 {
        font-size: 30px;
    }
    .headers p {
        font-size: 18px;
    }
    .head h2{
        font-size: 80px;
        font-weight: 700;
    }
    .head p{
        font-size: 20px;
    }
    .head h1{                                                                  
        font-size: 40px; 
    }
    .cta2{
        display: inline-flex;
    }
    .head-wrapper{
        display: flex;
    }
    .about12 {
        padding:  50px 100px;
    }
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .graphicdesign{
      width: 800px;
        display: inline-block;
    }
    .skill-1,
    .skill-2{
        display: flex;
    }
    .skill h1{
        font-size: 40px;
    }
    .skilled-1,
    .skilled-2{
            margin-left: 120px;
    }
    .circles{
        display: flex;
    }
    .card-type-wrapper{
        display: flex;    
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: -100px;
    }
    .collis{
            margin: 0 -20px 0 -72px;
    }
    .testomonials-image{
            max-width: 306px;
            margin: 0 0 0 62px;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: 0px;
    }
    .phones12{
        font-size: 18px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: flex;
    }
    .email12 p{
        font-size: 18px;
    }
    .address12 p{
        font-size: 18px;
    }
    .contact-form h1{
        font-size: 16px;
        line-height: 24px;
    }
    .sections{
        margin: 40px 20px 0 -26px;
         padding: 36px 50px;
    }
    .button a {
        padding: 0px 25px;
    }
    .footer-section{
        margin: 0px 60px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:1440px){
    .container{
        width: 950px;
        margin-right: -34px;
    }
    .bodyimages .body12{
        display: block;
    }
    .bodyimages{
        position: sticky;
        top: 80px;
        bottom: 0;
        float: left;
        display: block;
        min-height: 120%;
        margin: auto;
        margin-top: 10px;
        margin-left: 40px;
        width: 28%;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 0px #7d797954;
    }
    .navi-wrapper{
        float: right;
    }
    .footer-section{
        margin: 0px 60px 0px 0px;
    }

}