
@media(min-width:480px){
    .container{
        width: 500px;
        margin-right: 10px;
    }
    .custom-btn {
        margin-left: 0px;
        display: block;
    }
    .headers h2 {
        font-size: 10px;
    }
    .headers p {
        font-size: 8px;
    }
    .head h2{
        font-size: 60px;
    }
    .head h1{
        font-size: 32px;
    }
    .cta2{
        display: none;
    }
    .icofont-tags {
        color: black;
        padding-left: 40px;
    }  
    .icons-wrappers{
        display: block;
        margin-top: 25px;
        margin-left: -15px;
    }
    .graphic-1{
        display: block;
        margin-left: 90px;
        margin-right: 40px;
    }
    
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 500px;
        padding: 30px 30px 30px 30px;
        margin-left: 46px;
    }
    .personal-details{
        margin-left: 100px;
    }
    .testomonial-images{
        padding-left: 38px;
    }
    textarea{
        width: 50px;
    }
    .phone-2{
        margin-left: 10px;
        width: 500px;
    }
    .footer-section{
        margin: 0px 0px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 0px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:768px){
    .container{
        width: 768px;
        margin-right: 40px;
    }
    .navi12{
        display: inline;
    }
    .navi li a{
        font-size: 19px;
        margin: auto;
        padding: 21px;
        display: inline-block;
    }
    .custom-btn{
        margin-left: 0px;
        display: block;
        
    }
    .headers h2 {
        font-size: 15px;
    }
    .headers p {
        font-size: 12px;
    }
    .head h2{
        font-size: 60px;  
    }  
    .head h1{
        font-size: 34px;
    }
    .head p{
        font-size: 18px;
    }.bodyimages
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 20px;
    }
    .graphicdesign{
        width: 587px;
        display: inline-block;
    }
    .skill ul {
        margin-left: 10px;
        text-align: center;
    }
    .skill ul {
        display: flex;
    }
    .skill-progress {
        display: flex;
        margin-left: -60px;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 100px;
    }
    .skill h1{
        font-size: 20px;
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: 150px;
    }
    .icons-wrappers{
        display: block;
        margin-top: 25px;
        margin-left: -15px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: -104px;
    } 
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: inline-block;
    }
    .phone-2{
        margin-right: 10px;
        width: 500px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:927px){ 
    .container{
        width: 1080px;
        margin-right: 0px;
    }
    .navi-wrapper{
        margin-left: 460px;
    }

    .navi12{
        display: inline;
    }
    .navi li a{
        font-size: 19px;
        margin: auto;
        padding: 9px;
        display: inline-block;
    }
    .custom-btn{
            margin-left: 0px;
            display: block;
            margin: 0 50px; 
    }
    .head-wrapper{
        padding: 50px;
    }
    .headers h2 {
        font-size: 20px;
    }
    .headers p {
        font-size: 18px;
    }
    .head h2{
        font-size: 60px;
        font-weight: 700;
    }
    .head h1{                                                                  
        font-size: 40px;
    }
    .head p{
        font-size: 18px;
    }
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .graphicdesign{
        width: 800px;
        display: inline-block;
    }
    .skill ul {
        margin-left: 10px;
        text-align: center;
    }
    .skill ul {
        display: flex;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 120px;
    }
    .skill h1{
        font-size: 40px;
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: 200px;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: 0px;
    } 
    .phone {
        margin: 83px 29px 0px;
        display: flex;
    }
    .sections{
        margin: 24px 0px 0px 90px;
    }
    .button a {
        padding: 0px 25px;
    }
    .phone-2{
        flex-direction: column;
        margin-left: 100px;
        width: 500px;
    }
    .message textarea{
        height: 80px;
    }
    .input-field,
    .message{
        width: 100%;
    }
    .footer-section{
        margin: 0px 0px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:1200px){
    .right-side-body{
        margin: 40px 60px;
    }       
    .container{
        width: 1300px;
    }
    .navi-wrapper{
        margin-left: 280px;
    }

    .navi12{
        display: inline;
    }
    .navi li a{
      
        margin: auto;
        padding: 9px;
        display: inline-block;
    }
    .custom-btn{
        margin: 0px 50px; 
        display: block;
    }
    .head-wrapper{
        padding: 100px;
    }
    .headers h2 {
        font-size: 30px;
    }
    .headers p {
        font-size: 18px;
    }
    .head h2{
        font-size: 80px;
        font-weight: 700;
    }
    .head p{
        font-size: 20px;
    }
    .head h1{                                                                  
        font-size: 40px; 
    }
    .cta2{
        display: inline-flex;
    }
    .head-wrapper{
        display: flex;
    }
    .about12 {
        padding:  50px 100px;
    }
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .graphicdesign{
      width: 800px;
        display: inline-block;
    }
    .skill-1,
    .skill-2{
        display: flex;
    }
    .skill h1{
        font-size: 40px;
    }
    .skilled-1,
    .skilled-2{
            margin-left: 120px;
    }
    .circles{
        display: flex;
    }
    .card-type-wrapper{
        display: flex;    
    }
    .cards-typers-wrappers{
        display: flex;
        margin-left: -100px;
    }
    .collis{
        margin-right: 80px;
    }
    .testomonials-image{
        max-width: 240px;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: 0px;
    }
    .phones12{
        font-size: 18px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: flex;
    }
    .email12 p{
        font-size: 18px;
    }
    .address12 p{
        font-size: 18px;
    }
    .contact-form h1{
        font-size: 16px;
        line-height: 24px;
    }
    .sections{
        margin: 24px 0px;
        margin-left: 120px;
    }
    .button a {
        padding: 0px 25px;
    }
    .footer-section{
        margin: 0px 60px 0px 0px;
    }
    .backtotop{
        position: absolute;
        right: 80px;
        margin: -83px 0 0 0;
    } 
}
@media(min-width:1440px){
    .container{
        width: 950px;
        margin-right: -34px;
    }
    .bodyimages .body12{
        display: block;
    }
    .bodyimages{
        position: sticky;
        top: 80px;
        bottom: 0;
        float: left;
        display: block;
        min-height: 120%;
        margin: auto;
        margin-top: 10px;
        margin-left: 40px;
        width: 28%;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 0px #7d797954;
    }
    .navi-wrapper{
        margin-left: 307px;
    }
    .footer-section{
        margin: 0px 60px 0px 0px;
    }

}