* {
    box-sizing: border-box;

}
body{  
  
    line-height: 1.625;
    letter-spacing: .5px;
    font-family: 'Roboto', sans-serif;
    background-color: #8080805c;
    padding: 10px 25px;
    box-sizing: inherit; 
    overflow-x : hidden;
}
.navi{
    list-style: none;
    display: flex;
    font-size: 16px;
    padding: 10px 0px;
}
.navi li{
    padding: 10px 6px;
    background-color: #ffffff;
    
}
.container{
    font-family:  roboto, sans-serif;
    background-color: #ffffff;
   
    margin: auto;
    box-sizing: inherit;
}
.header{
    margin-bottom: 25px;
}
.head-wrapper{
    background-color: #e5e2e854;
}
.images{
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}
.head {
    margin: 80px 0px;
}
.head h2{
    margin-top: -25px;
    padding-top: 25px;
    font-size: 40px;
    padding-left: 27px;
    font-weight: 700;
}
.head h1{
    font-weight: 100;
    margin-top: -15px;
    font-size: 18px;
    padding-left: 30px;  
}
.head p{
    font-weight: 100;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.cta{
    padding-left: 15px;
}
.cta a{
    color: #ffffff;
    font-size: 18px;
    padding: 15px 55px;
    margin: 12px 12px;
    display: inline-block;
    background-color: #2196f3;
    text-transform: capitalize;
    text-decoration: none;
}
.header-images{
    max-width: 300px;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
}
.about-section p{
    display: block;
    padding: 0px 15px;
    font-size: 16px;
    margin: 10px;
}
.icon-wrappers{
    color:#2196f3;
    padding-right: 15px;
    padding-left: 5px;
    font-size: 23px;
}
.header-wrapper{
    display: flex;
    padding: 25px 0px;
    margin-top: 50px;
    margin-bottom: 9px;
}
.header-wrapper h2{
    font-size: 24px;
}
.type-wrapper{                                                                                                                                       
    display: inline-block;
}
.card-type-wrapper{
    display: inline-block;
    margin-top: 30px;
}
.card-type-wrapper h1{
    width: 100%;
    display: table;
    font-weight: 100;
}
.type-1{  
    max-width:200px;
    margin: 20px 20px;
    padding: 30px 20px;
    border-bottom: solid 2px #2196f3;
    background-color: #f5eded8f; 
}
.type-2{
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #ef5350;
    background-color: #f5eded8f;
}
.type-3 {
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #fbc02d;
    background-color: #f5eded8f;
}
.type-4 {
    max-width:200px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-bottom: solid 2px #ab47bc;
    background-color: #f5eded8f;
}
 .icon-wrapper-1{
    font-size: 40px;
    padding-bottom: 45px;
    color: #2196f3;
}
.icon-wrapper-2{
    color: #ef5350;
    font-size: 40px;
    padding-bottom: 45px;
}
.icon-wrapper-3{
    color: #fbc02d;
    font-size: 40px;
    padding-bottom: 45px;
}
.icon-wrapper-4{
    color: #ab47bc;
    font-size: 40px;
    padding-bottom: 45px;
}
.icon-wrapper-1 h1{
    color: sandybrown;
}
.personal-details{
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 20px;
}
.personal-details h2{
    padding: 20px 20px;
}
.personal-details td{
    padding: 5px 7px;
}
.tables{
    margin: 0px 15px;
}
.table {
    margin: 20px;
}
.sections{
    background-color: #2196f3;
    padding: 40px 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 20px 60px;
}
.section p{
    font-size: 16px;
    font-weight: 600;
}
.button{
    background-color:#ffffff;
    padding: 10px 0px;
    margin: 7px 0px;  
}
.button a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.skill{
    margin: 10px 0px;
}
.icofont-tags {
   color: black;
   font-size: 31px; 
}
.icons-wrappers{
    margin-top: 25px;
    margin-left: -15px;
}
.skill h1{
    font-size: 24px;
    font-weight: 700;
}
.skill p{
    margin: 0px 28px;
}
.ul{
    display:inline-flex;
}
.skill-ul-li{
    width: 80%;
}
.skill ul{
    display: flex;
    padding: 10px 10px;
    text-align: center;
}
.skill li{
    list-style: none;
}
.skill li a{
    width: 30px;
    height: 53px;
    color: #111111;
    text-align: left;
    text-decoration: none;
    line-height: 53px;
    padding-right: 30px;
}
.graphicdesign{
    background-color: #cccccc75;
    margin: 20px 30px;
    display: inline-block;
}
.title{
    margin: 0 30px;
    padding: 30px 40px;
}
.tittle{
    width: 30%;
    float: left;
}
.skill-progress{
    margin: 0px 60px;
    display: inline-block;
}
.progress{
    width: 100%;
    height: 5px;
    border-radius: 0;
    margin-top: 10px;
    overflow: visible;
    background-color: #f0f0f0;
}  
.progress-bar {
    height: 5px;
    position: relative;
}
.single-experties{
    width: 100%;
    display: table;
    margin-bottom: 25px;
}
.photoshop-bg {
    background-color: #2196f3;
    margin-right: 40px;
}
.jquery-bg {
    background-color: #26a69a;
    margin-right: 130px;
}
.php-bg {
    background-color: #ef5350;
    margin-right: 100px;
}
.html5-bg {
    background-color: #3f51b5;
    margin-right: 197px;
}
.css3-bg {
    background-color: #fbc02d;
    margin-right: 134px;
}
.marketing-bg {
    background-color: #ab47bc;
    margin-right: 80px;
}
.progress-bar > span{
    right: -4%;
    bottom: 10px;
    font-weight: 700;
    position: absolute;
}
.photoshop-color {
    color: #2196f3;
    float: right;
    margin-top: -26px;
    margin-right: 40px;
    font-weight: 600;
}
.jquery-color{
    color: #26a69a;
    float: right;
    margin-top: -26px;
    margin-right: 127px;
    font-weight: 600;
}
.php-color{
    color: #ef5350;
    float: right;
    margin-top: -26px;
    margin-right: 102px;
    font-weight: 600;
}
.html5-color{
    color: #3f51b5;
    float: right;
    margin-top: -26px;
    margin-right: 195px;
    font-weight: 600;
}
.css3-color{
    color: #fbc02d;
    float: right;
    margin-top: -26px;
    margin-right: 130px;
    font-weight: 600;
}
.marketing-color{
    color: #ab47bc;
    float: right;
    margin-top: -26px;
    margin-right: 80px;
    margin-bottom: 30px;
    font-weight: 600;
}
.language-skill{
    margin: 34px 40px;
    padding-bottom: 50px;
}
.languages{
    display: flex;
}
.lang{
    font-size: 24px;
}
.strongs{
    margin: 50px 0 0 -86px;
    position: absolute;
}
.languages h2{
    padding-left: 15px;
    margin-bottom: 15px;   
}
.comman-color{
    color: blue;
    padding-left: 15px;
}
.first-circle{
    margin-top: 20px;
    margin-right: 20px;
} 
.education-skill{
    padding: 0px 30px;
}
.education-skill h2{
}
.education-skill p{
    padding-left: 15px;
}
.icon1{
    color: #2196f3;
}
.icon2{
    color: #26a69a;
}
.icon3{
   color: #ef5350;
}
.icon4{
    color: #fbc02d;
}
.icon5{
    color: #ab47bc;
}
.icons1{
    color: #2196f3;
    margin-left: 40px;
}
.icons2{
    color: #26a69a;
    margin-left: 50px;
}
.icons3{
    color: #ef5350;
    margin-left: 210px;
}
.icons4{
    color: #fbc02d;
    margin-left: 80px;
}
.icons5{
    color: #ab47bc;
    margin-left: 140px;
}
.icons1,
.icons2,
.icons3,
.icons4,
.icons5{
    min-width: 10px;

}

.active{
    list-style: none;
}
.according-header-1 a,
.according-header-2 a,
.according-header-3 a,
.according-header-4 a,
.according-header-5 a{  
    text-decoration: none;
}
.according-header-1,
.according-header-2,
.according-header-3,
.according-header-4,
.according-header-5{
    color: black;
    padding: 15px 20px;
    display: flex;
}
.strong{
    color: black;
}

.portfolio-wrapper{
    margin: 0 15px;
}
.header-image{
    max-width: 315px;
}
.submitfors{
    width: 230px;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    background-color: #2196f3;
}
.testomono{
    margin: 0px 30px;
}
.testomonials-image{
    max-width: 240px;
}
.ceo{
    font-weight: 100;
    color: #2196f3;
    font-size: 15px;
}
.collis{
    display: inline-flex;
    margin-right: 492px;
    margin-left: 200px;
}
.common-color{
    color:  #2196f3;
    margin-left: 468px;
}
.testomonial-image h2{
    margin-left: 10px;
    font-size: 20px;
}
.testomonial-image p{
    margin-left: 10px;
}
.testomonials-images{
    width: 100%;
    opacity: .30;
    display: block;
    padding: 20px 0px;
    padding-left: 10px;
    line-height: 120px;
    text-align: center;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.1);  
}.contact-me{
    width: 100%;
   
    text-align: left;
    position: relative;
    margin-bottom: 60px;
}

.contact-me p{
    font-size: 14px;
}
.phone{
    
    padding: 20px;
    
}
.phones h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
}
.phones tr{ 
    margin: 10px 10px;
}
.phones{
    background-color: #cccccc;
    max-width: 270px;
    padding: 19px 27px;
    margin: 15px 15px;
}
.email{
    background-color: #cccccc;
    max-width: 270px;
    padding: 19px 30px;
    margin: 30px 15px;
}
.email p{
    padding: 0px 5px;
    margin: 10px -7px;
}
.address{
    background-color: #cccccc;
    max-width: 270px;
    padding: 19px 30px;
    margin: 15px 15px;
}
.address p{
    padding: 0px 5px;
    margin: 10px -7px;
}
.address a{
    color: #2196f3;;
}
.phone-2{
  
  
    padding: 0 20px;
}
.contacts{
    margin: 10px;
}
.contact-form{
    background-color: #2196f3;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px;
}
.contact-form h1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.form{
    text-decoration: none;
    color: black;
}
.input-field{
    flex-direction: column;
}
.input-field,
.message{
    width: 92%;
}
.style{
    margin: 0px;
    width: 380px;
    height: 100px;
}
.input-field .input, 
.message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
    color:  #2196f3;
}
.message.testarea{
    height: 212px;
}
.submitform{
    padding: 10px 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}




.footers{
    padding: 20px 30px;
}
.photoshop{
    color:  #2196f3;
}
.iconss-wrappers{
    display: inline-block;
    font-size: 60px;
}
.backtotop{
   
    position: absolute;
    right: 141px;
    margin: -83px 0 0 0;
}