
@media(min-width:480px){
   
    .head h2{
        font-size: 60px;
    }
    .head h1{
        font-size: 32px;
    }
    .icofont-tags {
        color: black;
        padding-left: 70px;
    }  

}
@media(min-width:768px){
  
    .head h2{
        font-size: 60px;  
    }  
    .head h1{
        font-size: 34px;
    }
    .head p{
        font-size: 18px;
    }
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 20px;
    }
    .skill ul {
        display: flex;
    }
    .skill-progress {
        display: flex;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 68px;
    }
    .skill h1{
        font-size: 20px;
    }
    .cards-typers-wrappers{
        display: flex;
    }
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .phone {
        margin: 83px 29px 0px;
        display: inline-block;
    }
}
@media(min-width:992px){
   
    .head h2{
        font-size: 60px;
        font-weight: 700;
    }
    .head h1{                                                                  
        font-size: 40px;
    }
    .head p{
        font-size: 18px;
    }
    .head-wrapper{
        display: flex;
    }
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .skill ul {
        display: flex;
    }
    .skilled-1,
    .skilled-2{
          margin-left: 120px;
    }
    .skill h1{
        font-size: 40px;
    }
    .cards-typers-wrappers{
        display: flex;
    }
    .type-1,
    .type-2,
    .type-3,
    .type-4{
        max-width: 160px;
        padding: 30px 30px 30px 30px;
    }
    .type-wrapper {
        display: inline-block;
        margin-left: 150px;
    } 
    .phone {
        margin: 83px 29px 0px;
        display: flex;
    }
    .sections{
        margin: 24px 0px;
    }
    .button a {
        padding: 0px 25px;
    }
    .phone-2{
        flex-direction: column;
    }
    .message textarea{
        height: 80px;
    }
    .input-field,
    .message{
        width: 100%;
    }
}
@media(min-width:1200px){
    
    .navi{
        font-size: 40px;
    }
    .head h2{
        font-size: 80px;
        font-weight: 700;
    }
    .head p{
        font-size: 20px;
    }
    .head h1{                                                                  
        font-size: 40px; 
    }
    .head-wrapper{
        display: flex;
    }
    
    .header-wrapper h2{
        font-size: 40px;
    }
    .icon-wrappers{
        font-size: 40px;
    }
    .skill-1,
    .skill-2{
        display: flex;
    }
    .skill h1{
        font-size: 40px;
    }
   .skilled-1,
   .skilled-2{
         margin-left: 120px;
   }
   .circles{
    display: flex;
   }
.card-type-wrapper{
    display: flex;    
}
.cards-typers-wrappers{
    display: flex;
}
.type-1,
.type-2,
.type-3,
.type-4{
    max-width: 160px;
    padding: 30px 30px 30px 30px;
}
.type-wrapper {
    display: inline-block;
    margin-left: 100px;
}
.phone {
    margin: 83px 29px 0px;
    display: flex;
}
.contact-form h1{
    font-size: 16px;
    line-height: 24px;
}
.sections{
   
    margin: 24px 0px;
    margin-left: 100px;
}
.button a {
    padding: 0px 25px;
}
}